<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <distributable/>

    <listener>
        <listener-class>mareprint.web.server.SessionListner</listener-class>
    </listener>

    <servlet>
        <servlet-name>sampleApp.SampleApp SampleAppService</servlet-name>
        <servlet-class>mareprint.web.server.SampleAppServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sampleApp.SampleApp SampleAppService</servlet-name>
        <url-pattern>/mareprint.web.Mareprint/SampleAppService</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>sessionId</servlet-name>
        <servlet-class>mareprint.web.server.SessionIdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sessionId</servlet-name>
        <url-pattern>/mareprint.web.Mareprint/locations</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>mareprint.web.server.upload.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/mareprint.web.Mareprint/upload</url-pattern>
    </servlet-mapping>


</web-app>