.benutzer table, .benutzer .pagination {
    width: 395px;
}

.benutzer .cell0 {
    width: 75px;
}

.benutzer .cell1 {
    width: 230px;
}

.benutzer .cell2 {
    width: 75px;
}

.benutzer .suche .cell0 {
    width: 40px;
}

.benutzer .suche .cell1 {
    width: 160px;
}

.benutzer .suche .cell2 {
    width: 425px;
    border-left: none;
    float: none;
    padding: 0;
    text-align: left;
}
